---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Cozy">
  <main class="text-neutral-300 prose lg:prose-xl">
    <div class="mx-10 opacity-75">
      <h2>Contact Me</h2>
      <p class="text-2xl">
        Hey there! I'm always excited to connect with new people and explore
        potential new and exciting collaborations with others. Whether you're
        curious about my work, projects or have a business inquiry, or simply
        want to chat, feel free to reach out to me at my email below. I'll also
        have my social media linked below for making sure it's me.
      </p>
      <h2>The Problem</h2>
      <p class="text-2xl">
        My schedule is very packed with design work, personal commitments,
        schoolwork, and coding studies. With exams and project deadlines
        looming, I'm carefully managing my time and prioritizing tasks. This
        means I have limited availability for Ul collaborations, so I need to
        carefully consider such engagements to avoid wasting others' time.
      </p>
<a role="button" class="btn btn-lg sm:btn-sm md:btn-md lg:btn-lg xl:btn-xl" href="https://discord.com/users/311167867297202186">
  <img src="../public/discord.webp" alt="Discord Icon" width="40" height="32">
  cozyhq
</a> 
<a role="button" class="btn btn-lg sm:btn-sm md:btn-md lg:btn-lg xl:btn-xl" href="https://www.linkedin.com/in/cozy-cozy-802496253/">
  <img src="../public/linkedin.webp" alt="LinkedIn Icon" width="28" height="32">
  Cozy Comfy
</a> 
<a role="button" class="btn btn-lg sm:btn-sm md:btn-md lg:btn-lg xl:btn-xl" href="mailto:cozyhqinquiries@gmail.com">
  <img src="../public/mail.webp" alt="Mail Icon" width="32" height="32">
</a> 
</div> 
<br />
  </main>
</Layout>
