---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Cozy">
   <main class="my-10 mx-20 text-neutral-300">
       <div class="flex flex-wrap justify-content-between gap-4">
         <div class="card card-compact bg-base-100 sm:w-1/2 md:w-1/5 h-80 flex flex-col">
           <figure class="w-full h-full">
               <a href="/yalp.png"><img class="w-full h-full object-cover" src="/yalp.png" alt="Yalp" /></a>
           </figure>
           <div class="card-body">
             <h2 class="card-title text-2xl">Yalp</h2>
           </div>
         </div>
         <div class="card card-compact bg-base-100 sm:w-1/2 md:w-1/5 h-80 flex flex-col">
           <figure class="w-full h-full">
             <a href="/orcflip.png"><img class="w-full h-full object-cover" src="/orcflip.png" alt="ORCFlip" /></a>
           </figure>
           <div class="card-body">
             <h2 class="card-title text-2xl">ORCFlip</h2>
           </div>
         </div>
         <div class="card card-compact bg-base-100 sm:w-1/2 md:w-1/5 h-80 flex flex-col">
           <figure class="w-full h-full">
             <a href="/bank.png"><img class="w-full h-full object-cover" src="/bank.png" alt="Bank" /></a>
           </figure>
           <div class="card-body">
             <h2 class="card-title text-2xl">Bank</h2>
           </div>
         </div>
         <div class="card card-compact bg-base-100 sm:w-1/2 md:w-1/5 h-80 flex flex-col">
           <figure class="w-full h-full">
             <a href="/bank2.png"><img class="w-full h-full object-cover" src="/bank2.png" alt="Bank 2" /></a>
           </figure>
           <div class="card-body">
             <h2 class="card-title text-2xl">Bank 2</h2>
           </div>
         </div>
         <div class="card card-compact bg-base-100 sm:w-1/2 md:w-1/5 h-80 flex flex-col">
           <figure class="w-full h-full">
             <a href="/streamdeck.png"><img class="w-full h-full object-cover" src="/streamdeck.png" alt="Stream Deck" /></a>
           </figure>
           <div class="card-body">
             <h2 class="card-title text-2xl">Stream Deck</h2>
           </div>
         </div>
         <div class="card card-compact bg-base-100 sm:w-1/2 md:w-1/5 h-80 flex flex-col">
           <figure class="w-full h-full">
             <a href="/roblox1.png"><img class="w-full h-full object-cover" src="/roblox1.png" alt="Roblox Homepage" /></a>
           </figure>
           <div class="card-body">
             <h2 class="card-title text-2xl">Roblox Homepage</h2>
           </div>
         </div>
         <div class="card card-compact bg-base-100 sm:w-1/2 md:w-1/5 h-80 flex flex-col">
           <figure class="w-full h-full">
             <a href="/roblox2.png"><img class="w-full h-full object-cover" src="/roblox2.png" alt="Roblox Game Page" /></a>
           </figure>
           <div class="card-body">
             <h2 class="card-title text-2xl">Roblox Game Page</h2>
           </div>
         </div>
         <div class="card card-compact bg-base-100 sm:w-1/2 md:w-1/5 h-80 flex flex-col">
           <figure class="w-full h-full">
             <a href="/roblox3.png"><img class="w-full h-full object-cover" src="/roblox3.png" alt="Roblox Purchase Page" /></a>
           </figure>
           <div class="card-body">
             <h2 class="card-title text-2xl">Roblox Purchase Page</h2>
           </div>
         </div>
         <div class="card card-compact bg-base-100 sm:w-1/2 md:w-1/5 h-80 flex flex-col">
           <figure class="w-full h-full">
             <a href="/past concept.png"><img class="w-full h-full object-cover" src="/past concept.png" alt="About me Page" /></a>
           </figure>
           <div class="card-body">
             <h2 class="card-title text-2xl">About me Page</h2>
           </div>
         </div>
       </div>
     </main>     
</Layout>
