---
import Layout from "../layouts/Layout.astro";
---

<Layout title="cozyHQ">
    <main class="text-neutral-300 prose lg:prose-xl">
		<div class="mx-10 opacity-75">
		<h2>Background</h2>
		<p class="text-2xl">
			Hey, I'm Cozy! I really like designing new cool stuff, especially in games on Roblox. I enjoy coding to make things work, and I've got a thing for translating products too. I've had some experience managing projects, making sure everything runs smoothly. So, from creating game worlds to handling different languages, I'm all about making things awesome!</p>
		<h2>Past Experiences</h2>
		<p class="text-2xl">
			In the past, I was part of the support team for several well- known servers, and I climbed the ranks to become a manager and a well liked co-owner for some of the servers and I even worked for a partnered Discord server going by the name of Plebcy's World as a co-owner and event host.
		</p>
		<h2>Contact for more info</h2>
		<p class="text-2xl">If you have any questions or concerns, please don't hesitate to contact me. I am always happy to help anyone and will try to respond to your messages as soon as possible.</p>
		</div>
		<br />
    </main>
</Layout>