---
import { ViewTransitions } from "astro:transitions";
import '@fontsource-variable/inter';


interface Props {
  title: string;
}

const { title } = Astro.props;
---

<title>Cozy's Site</title>
<meta content="Cozy's Site" property="og:title" />
<meta content="This is my site with past projects I've worked on and other cool stuff like my socials." property="og:description" />
<meta content="https://cozyhq.pages.dev/" property="og:url" />
<meta content="https://cozyhq.pages.dev/bonfire.png" property="og:image" />
<meta content="#fb8d00" data-react-helmet="true" name="theme-color" />

<!doctype html>
<html data-theme="dark" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="// Cozy //" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/bonfire.png" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
	<ViewTransitions />

  </head>
  <body class="">
    <div class="navbar mb-10">
      <a href="/" class="btn btn-ghost text-xl">main</a>
      <a href="/designs" class="btn btn-ghost text-xl">designs</a>
      <a href="/contact" class="btn btn-ghost text-xl">contact</a>
    </div>
    <slot />
  </body>
</html>

<style>
  html {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
      url(/bg.jpg);
    background-size: cover;
	font-family: 'Inter Variable', sans-serif;
    font-weight: normal;
  }
</style>
